body {
  font-family: sans-serif;
  background: #111;
  color: #ffffff;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

button {
  background: #2a2a2a;
  border: none;
  color: white;
  border-radius: 8px;
  padding: 12px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #3a3a3a;
}

#submitBtn {
  background: #4a4a4a;
  font-weight: bold;
}

#answerInput {
  width: 100%;
  padding: 12px;
  margin-top: 10px;

  background: #222;
  color: white;

  border: 1px solid #444;
  border-radius: 8px;

  font-size: 16px;
  font-family: inherit;
}

/* 정답/오답 색 */
.input-correct {
  border: 2px solid rgb(73, 118, 68);
}

.input-wrong {
  border: 2px solid rgb(162, 66, 66);
}

#menu, #study {
  width: 400px;
}

@media (max-width: 600px) {
  #menu, #study {
    width: 100%;
  }

  body {
    padding: 10px;
  }

  button {
    padding: 14px;
    font-size: 16px;
  }

  #card {
    font-size: 18px;
  }
}

#topBar {
  display: flex;
  align-items: center;
  gap: 10px;
}

#backBtn {
  width: 35px;
  height: 35px;
  font-size: 18px;
  align-items: center;

  padding: 0;     
  line-height: 1;

  background: #333 !important;
  border: none;
  color: white !important;
  cursor: pointer;
}

#answerInput {
  width: 100%;
  padding: 12px;
  margin-top: 10px;

  background: #222;
  color: white;

  border: 1px solid #444;
  border-radius: 6px;

  font-size: 16px;
  font-family: inherit;   /* 버튼이랑 동일 폰트 */

  box-sizing: border-box;
}

#answerInput {
  min-height: 60px;
  resize: none;   /* 크기 조절 막기 (선택) */
}

#progressContainer {
  flex: 1;
  height: 10px;
  background: #333;
}

#card {
  border: 2px solid #444;
  padding: 20px;
  margin: 20px 0;
  min-height: 100px;
}

#progressBar {
  height: 100%;
  width: 0%;
  background: rgb(73, 118, 68);
}

/* 선택지 (세로) */
#choices {
  display: flex;
  flex-direction: column;
}

.choice-btn {
  margin: 5px 0;
  padding: 10px;
  background: #222;
  border: none;
  color: #fff;
  cursor: pointer;
}

/* 선택됨 */
.selected {
  background: #555;
}

/* 정답/오답 표시 */
.correct {
  background: rgb(73, 118, 68);
}

.wrong {
  background: rgb(162, 66, 66);
}

/* 기능 버튼 (가로) */
#buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

#buttons button {
  flex: 1;
  margin: 3px;
  padding: 10px;
  background: #333;
  border: none;
  color: white;
  cursor: pointer;
}

/* 정답 확인 버튼 크게 */
#submitBtn {
  flex: 2;
  background: #555;
}